<launch>
    <arg name="run_camera" default="true"/>
    <arg name="run_robot_control" default="true"/>
    <arg name="run_record_trajectory" default="true"/>
    <arg name="camera_depth_uint" default="32FC1"/>
    <arg name="use_keyboard_record_trajectory_method" default="true"/>    

    <include file="$(find azure_kinect_ros_driver)/launch/driver.launch" if="$(arg run_camera)">
        <arg name="depth_unit" value="$(arg camera_depth_uint)"/>
    </include>

    <node pkg="robot_grasp" type="Record_robot_trajectory.py" name="record_trajectroy_node" output="screen" if="$(arg run_record_trajectory)">
        <param name="use_keyboard" type="bool" value="$(arg use_keyboard_record_trajectory_method)" />
    </node>

    <node pkg="robot_grasp" type="Run_robot_control.py" name="sawyer_run_node" output="screen" if="$(arg run_robot_control)">
    </node>

</launch>